<?xml version='1.0' encoding='utf-8'?>
<widget id="com.atomjump.messaging" 
		version="0.7.6" 
		versionCode="76" 
		xmlns="http://www.w3.org/ns/widgets" 
		xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AtomJump Messaging</name>
    <description>
        Shortcuts to any AtomJump messaging page, and notifications of new messages.
    </description>
    <author email="webmaster@atomjump.com" href="http://atomjump.org">
        AtomJump Foundation
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    
	<allow-navigation href="*"/>
    
  
    
    <platform name="android">
        <allow-intent href="market:*" />
       
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
       
        <preference name="permissions" value="none" />
        <preference name="orientation" value="portrait" />
        <preference name="fullscreen" value="false" />
        <icon height="128" src="www/res/icon.png" width="128" />
              
          <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="www/res/mipmap/ldpi.png" density="ldpi" />
        <icon src="www/res/mipmap/mdpi.png" density="mdpi" />
        <icon src="www/res/mipmap/hdpi.png" density="hdpi" />
        <icon src="www/res/mipmap/xhdpi.png" density="xhdpi" />
        <icon src="www/res/mipmap/xxhdpi.png" density="xxhdpi" />
        <icon src="www/res/mipmap/xxxhdpi.png" density="xxxhdpi" />
         
         
 
		<!-- Portrait -->        
	    <splash src="res/screen/android/splash-port-hdpi.png" density="hdpi"/>
		<splash src="res/screen/android/splash-port-ldpi.png" density="ldpi"/>
		<splash src="res/screen/android/splash-port-mdpi.png" density="mdpi"/>
		<splash src="res/screen/android/splash-port-xhdpi.png" density="xhdpi"/>
		<splash src="res/screen/android/splash-port-xxhdpi.png" density="xxhdpi"/>

		<!-- Landscape -->
		<splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi" />
		<splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi" />
		<splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi" />
		<splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi" />
		<splash src="res/screen/android/splash-land-xxhdpi.png" density="land-xxhdpi" />
		<splash src="res/screen/android/splash-land-xxxhdpi.png" density="land-xxxhdpi" />
       
        
        <!-- <plugin name="phonegap-plugin-push" source="npm" spec="~2.2.3">
        	<param name="SENDER_ID" value="538233303966" />
    	</plugin>-->
    	
    	<resource-file src="google-services.json" target="app/google-services.json" />
    	
    	<!--<config-file parent="/manifest" mode="merge">
		  <application android:usesCleartextTraffic="true" />
		</config-file>  -->
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        
        
        <preference name="permissions" value="none" />
        <preference name="orientation" value="portrait" />
        <gap:config-file mode="add" parent="ITSAppUsesNonExemptEncryption" platform="ios">
            <false />
        </gap:config-file>
        <plugin name="cordova-plugin-push" source="npm" spec="~2.0.0" />
 
        





        <!-- iPad Appstore Icon -->
		<icon src="res/ios/messaging-appstore-icon-1024.png" platform="ios" width="1024" height="1024" />
		<preference name="phonegap-version" value="cli-7.1.0" /> <!-- Note: this is for the 1024 appstore icon. We need to keep this up-to-date if the phonegap version updates -->


        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icon-60.png" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        
        <icon src="res/ios/icon-66.png" width="66" height="66" />
        <icon src="res/ios/icon-66@2x.png" width="132" height="132" />
        <icon src="res/ios/icon-66@3x.png" width="196" height="196" />
        
        <!-- iPad -->
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="res/ios/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/icon.png" width="57" height="57" />
        <icon src="res/ios/icon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
        <!-- iPad Pro -->
        <icon src="res/ios/icon-167.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/icon-small.png" width="29" height="29" />
        <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
        <icon src="res/ios/icon-small@3x.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/ios/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icon-50@2x.png" width="100" height="100" />
        <!-- iPad Pro -->
        <icon src="res/ios/icon-83.5@2x.png" width="167" height="167" />
        <!-- iTunes Marketing Image -->
        <icon src="res/ios/icon-1024.png" width="1024" height="1024" />
        
        
        
    	<splash src="res/ios/Default.png" platform="ios" width="320" height="480" />
		<splash src="res/ios/Default-Portrait.png" platform="ios" width="768" height="1024" />
		<splash src="res/ios/Default-Landscape.png" platform="ios" width="1024" height="768" />

		<splash src="res/ios/img/Default-1242@3x~iphone6s-landscape_2208x1242.png" platform="ios" width="2208" height="1242"/>
		<splash src="res/ios/img/Default-1242@3x~iphone6s-portrait_1242x2208.png" platform="ios" width="1242" height="2208"/>
		<splash src="res/ios/img/Default-568h@2x~iphone_640x1136.png" platform="ios" width="640" height="1136"/>
		<splash src="res/ios/img/Default-750@2x~iphone6-landscape_1334x750.png" platform="ios" width="1334" height="750"/>
		<splash src="res/ios/img/Default-750@2x~iphone6-portrait_750x1334.png" platform="ios" width="750" height="1334"/>
		<splash src="res/ios/img/Default-Landscape@2x~ipad_2048x1496.png" platform="ios" width="2048" height="1496"/>
		<splash src="res/ios/img/Default-Landscape@2x~ipad_2048x1536.png" platform="ios" width="2048" height="1536"/>
		<splash src="res/ios/img/Default-Landscape~ipad_1024x748.png" platform="ios" width="1024"  height="748"/>
		<splash src="res/ios/img/Default-Landscape~ipad_1024x768.png" platform="ios" width="1024"  height="768"/>
		<splash src="res/ios/img/Default-Portrait@2x~ipad_1536x2008.png" platform="ios" width="1536" height="2008"/>
		<splash src="res/ios/img/Default-Portrait@2x~ipad_1536x2048.png" platform="ios" width="1536" height="2048"/>
		<splash src="res/ios/img/Default-Portrait~ipad_768x1024.png" platform="ios" width="768" height="1024"/>
		<splash src="res/ios/img/Default.png" platform="ios" width="768" height="1004"/>
		<splash src="res/ios/img/Default@2x~iphone_640x960.png" platform="ios" width="640" height="960"/>
		<splash src="res/ios/img/Default~ipad.png" platform="ios" width="1536" height="2008"/>
		<splash src="res/ios/img/Default~iphone.png" platform="ios" width="320" height="480"/>

        
    </platform>
</widget>
