<?xml version='1.0' encoding='utf-8'?>
<widget id="org.atomjump.messaging" 
		version="0.6.0" 
		versionCode="60" 
		xmlns="http://www.w3.org/ns/widgets" 
		xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AtomJump Messaging</name>
    <description>
        Shortcuts to any AtomJump messaging page, and notifications of new messages.
    </description>
    <author email="webmaster@atomjump.com" href="http://atomjump.org">
        AtomJump Foundation
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
   
    
    <platform name="android">
        <allow-intent href="market:*" />
       
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
       
        <preference name="permissions" value="none" />
        <preference name="orientation" value="portrait" />
        <preference name="fullscreen" value="false" />
        <icon height="128" src="www/res/icon.png" width="128" />
              
          <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="www/res/mipmap/ldpi.png" density="ldpi" />
        <icon src="www/res/mipmap/mdpi.png" density="mdpi" />
        <icon src="www/res/mipmap/hdpi.png" density="hdpi" />
        <icon src="www/res/mipmap/xhdpi.png" density="xhdpi" />
        <icon src="www/res/mipmap/xxhdpi.png" density="xxhdpi" />
        <icon src="www/res/mipmap/xxxhdpi.png" density="xxxhdpi" />
         
         
 
		<!-- Portrait -->        
	    <splash src="res/screen/android/splash-port-hdpi.png" density="hdpi"/>
		<splash src="res/screen/android/splash-port-ldpi.png" density="ldpi"/>
		<splash src="res/screen/android/splash-port-mdpi.png" density="mdpi"/>
		<splash src="res/screen/android/splash-port-xhdpi.png" density="xhdpi"/>
		<splash src="res/screen/android/splash-port-xxhdpi.png" density="xxhdpi"/>

		<!-- Landscape -->
		<splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi" />
		<splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi" />
		<splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi" />
		<splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi" />
		<splash src="res/screen/android/splash-land-xxhdpi.png" density="land-xxhdpi" />
		<splash src="res/screen/android/splash-land-xxxhdpi.png" density="land-xxxhdpi" />
       
    	
    	<resource-file src="google-services.json" target="app/google-services.json" />
    	
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
