<?xml version='1.0' encoding='utf-8'?>
<widget id="com.atomjump.messaging" version="0.1.13" versionCode="16" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>AtomJump Messaging</name>
    <description>
        Shortcuts to any AtomJump messaging page, and notifications of new messages.
    </description>
    <author email="webmaster@atomjump.com" href="https://atomjump.com">
        AtomJump
    </author>
    <gap:plugin name="org.apache.cordova.file-transfer" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="cordova-plugin-networkinterface" source="npm" />
    <!--Old way: <gap:plugin name="org.apache.cordova.Globalization" /> -->
    <plugin source="git" spec="https://github.com/apache/cordova-plugin-globalization.git" />
    <plugin source="git" spec="https://github.com/atomjump/cordova-plugin-dialogs.git" />
    <plugin source="git" spec="https://git-wip-us.apache.org/repos/asf/cordova-plugin-device.git" /><!-- Experimental -->
    
    <gap:plugin name="org.apache.cordova.inappbrowser" source="npm"/>
    <preference name="android-build-tool" value="gradle" />
    
    <platform name="android">
        <preference name="permissions" value="none" />
        <preference name="orientation" value="portrait" />
        <preference name="fullscreen" value="false" />
        <icon height="128" src="icon.png" width="128" />
        <plugin name="phonegap-plugin-push" source="npm">
        	<param name="SENDER_ID" value="538233303966" />
    	</plugin>
        
    </platform>
    <platform name="ios">
        <!--<preference name="phonegap-version" value="cli-5.2.0" />-->
        <preference name="permissions" value="none" />
        <preference name="orientation" value="portrait" />
        <gap:config-file mode="add" parent="ITSAppUsesNonExemptEncryption" platform="ios">
            <false />
        </gap:config-file>
        <plugin name="phonegap-plugin-push" source="npm" />
 
        
        <icon src="icon.png" width="128" height="128" />
        <!-- iPhone 6 / 6+ -->
		<icon src="icon-60@3x.png" platform="ios" width="180" height="180" />


		<!--   -->
		<icon src="icon-57.png" platform="ios" width="57" height="57" />
		<icon src="icon-57@2x.png" platform="ios" width="114" height="114" />
	
		<!-- iPhone / iPod Touch  -->
		<icon src="icon-60.png" platform="ios" width="60" height="60" />
		<icon src="icon-60@2x.png" platform="ios" width="120" height="120" />
	
		<!-- iPad -->
		<icon src="icon-76.png" platform="ios" width="76" height="76" />
		<icon src="icon-76@2x.png" platform="ios" width="152" height="152" />
	
		<!-- Settings Icon -->
		<icon src="icon-small.png" platform="ios" width="29" height="29" />
		<icon src="icon-small@2x.png" platform="ios" width="58" height="58" />
	
		<!-- Spotlight Icon -->
		<icon src="icon-40.png" platform="ios" width="40" height="40" />
		<icon src="icon-40@2x.png" platform="ios" width="80" height="80" />
		<icon src="icon.png" platform="ios" width="57" height="57" />
		<icon src="icon@2x.png" platform="ios" width="114" height="114" />

		<!-- iPad -->
		<icon src="icon-72.png" platform="ios" width="72" height="72" />
		<icon src="icon-72@2x.png" platform="ios" width="144" height="144" />

		<!-- iPhone Spotlight and Settings Icon -->
		<icon src="icon-small.png" platform="ios" width="29" height="29" />
		<icon src="icon-small@2x.png" platform="ios" width="58" height="58" />

		<!-- iPad Spotlight and Settings Icon -->
		<icon src="icon-50.png" platform="ios" width="50" height="50" />
		<icon src="icon-50@2x.png" platform="ios" width="100" height="100" />


		<splash src="img/splash-568h@2x.png" platform="ios" width="640" height="1136" />

        
        
    </platform>
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <engine name="ios" spec="~4.1.1" />
</widget>
