<?xml version='1.0' encoding='utf-8'?>
<widget id="org.atomjump.messaging" 
		version="1.0.2" 
		versionCode="102" 
		xmlns="http://www.w3.org/ns/widgets" 
		xmlns:android="http://schemas.android.com/apk/res/android" 
		xmlns:gap="http://phonegap.com/ns/1.0">
		
    <name>AtomJump Messaging</name>
    <description>
        Shortcuts to any AtomJump messaging page, and notifications of new messages.
    </description>
    <author email="webmaster@atomjump.com" href="http://atomjump.org">
        AtomJump
    </author>
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="cordova-plugin-networkinterface" source="npm" spec="~2.0.0" />
    <gap:plugin name="cordova-plugin-device" source="npm"/>
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.3.1" />
    
    <plugin name="cordova-plugin-globalization" spec="1.0.5" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.1" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>
    
    <plugin name="cordova-plugin-cleartext" />

    
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    
    <preference name='phonegap-version' value='cli-9.0.0' />
	<preference name='pgb-builder-version' value='2' />
	<preference name="android-targetSdkVersion" value="29" />
   
    <preference name="android-build-tool" value="gradle" />
    
     
    
    <platform name="android">
        <preference name="permissions" value="none" />
        <preference name="orientation" value="portrait" />
        <preference name="fullscreen" value="false" />
        <icon height="128" src="res/icon.png" width="128" />
              
          <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="res/mipmap/ldpi.png" density="ldpi" />
        <icon src="res/mipmap/mdpi.png" density="mdpi" />
        <icon src="res/mipmap/hdpi.png" density="hdpi" />
        <icon src="res/mipmap/xhdpi.png" density="xhdpi" />
        <icon src="res/mipmap/xxhdpi.png" density="xxhdpi" />
        <icon src="res/mipmap/xxxhdpi.png" density="xxxhdpi" />
         
        <!--<splash src="splash.png" /> -->
		
		<!-- Portrait -->        
	    <splash src="res/screen/android/splash-port-hdpi.png" density="hdpi"/>
		<splash src="res/screen/android/splash-port-ldpi.png" density="ldpi"/>
		<splash src="res/screen/android/splash-port-mdpi.png" density="mdpi"/>
		<splash src="res/screen/android/splash-port-xhdpi.png" density="xhdpi"/>
		<splash src="res/screen/android/splash-port-xxhdpi.png" density="xxhdpi"/>

		<!-- Landscape -->
		<splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi" />
		<splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi" />
		<splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi" />
		<splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi" />
		<splash src="res/screen/android/splash-land-xxhdpi.png" density="land-xxhdpi" />
		<splash src="res/screen/android/splash-land-xxxhdpi.png" density="land-xxxhdpi" />


         <plugin name="cordova-plugin-push" source="npm" spec="~1.0.3">
        	<param name="SENDER_ID" value="538233303966" />
    	</plugin>
    	
    	<resource-file src="google-services.json" target="app/google-services.json" />
    	
    	<config-file parent="/manifest" mode="merge">
		  <application android:usesCleartextTraffic="true" />
		</config-file>  
		
        
    </platform>
    <platform name="ios">
        <preference name="permissions" value="none" />
        <preference name="orientation" value="portrait" />
        <gap:config-file mode="add" parent="ITSAppUsesNonExemptEncryption" platform="ios">
            <false />
        </gap:config-file>
        <plugin name="phonegap-plugin-push" source="npm" spec="~2.0.0" />
 
        
        <icon src="icon.png" width="128" height="128" />
        <!-- iPhone 6 / 6+ -->
		<icon src="icon-60@3x.png" platform="ios" width="180" height="180" />


		<!--   -->
		<icon src="icon-57.png" platform="ios" width="57" height="57" />
		<icon src="icon-57@2x.png" platform="ios" width="114" height="114" />
	
		<!-- iPhone / iPod Touch  -->
		<icon src="icon-60.png" platform="ios" width="60" height="60" />
		<icon src="icon-60@2x.png" platform="ios" width="120" height="120" />
	
		<!-- iPad -->
		<icon src="icon-76.png" platform="ios" width="76" height="76" />
		<icon src="icon-76@2x.png" platform="ios" width="152" height="152" />
	
		<!-- Settings Icon -->
		<icon src="icon-small.png" platform="ios" width="29" height="29" />
		<icon src="icon-small@2x.png" platform="ios" width="58" height="58" />
	
		<!-- Spotlight Icon -->
		<icon src="icon-40.png" platform="ios" width="40" height="40" />
		<icon src="icon-40@2x.png" platform="ios" width="80" height="80" />
		<icon src="icon.png" platform="ios" width="57" height="57" />
		<icon src="icon@2x.png" platform="ios" width="114" height="114" />

		<!-- iPad -->
		<icon src="icon-72.png" platform="ios" width="72" height="72" />
		<icon src="icon-72@2x.png" platform="ios" width="144" height="144" />

		<!-- iPhone Spotlight and Settings Icon -->
		<icon src="icon-small.png" platform="ios" width="29" height="29" />
		<icon src="icon-small@2x.png" platform="ios" width="58" height="58" />

		<!-- iPad Spotlight and Settings Icon -->
		<!--<icon src="icon-50.png" platform="ios" width="50" height="50" />
		<icon src="icon-50@2x.png" platform="ios" width="100" height="100" />-->


		<splash src="Default.png" platform="ios" width="320" height="480" />
		<splash src="Default-Portrait.png" platform="ios" width="768" height="1024" />
		<splash src="Default-Landscape.png" platform="ios" width="1024" height="768" />

		<splash src="img/Default-1242@3x~iphone6s-landscape_2208x1242.png" platform="ios" width="2208" height="1242"/>
		<splash src="img/Default-1242@3x~iphone6s-portrait_1242x2208.png" platform="ios" width="1242" height="2208"/>
		<splash src="img/Default-568h@2x~iphone_640x1136.png" platform="ios" width="640" height="1136"/>
		<splash src="img/Default-750@2x~iphone6-landscape_1334x750.png" platform="ios" width="1334" height="750"/>
		<splash src="img/Default-750@2x~iphone6-portrait_750x1334.png" platform="ios" width="750" height="1334"/>
		<splash src="img/Default-Landscape@2x~ipad_2048x1496.png" platform="ios" width="2048" height="1496"/>
		<splash src="img/Default-Landscape@2x~ipad_2048x1536.png" platform="ios" width="2048" height="1536"/>
		<splash src="img/Default-Landscape~ipad_1024x748.png" platform="ios" width="1024"  height="748"/>
		<splash src="img/Default-Landscape~ipad_1024x768.png" platform="ios" width="1024"  height="768"/>
		<splash src="img/Default-Portrait@2x~ipad_1536x2008.png" platform="ios" width="1536" height="2008"/>
		<splash src="img/Default-Portrait@2x~ipad_1536x2048.png" platform="ios" width="1536" height="2048"/>
		<splash src="img/Default-Portrait~ipad_768x1024.png" platform="ios" width="768" height="1024"/>
		<splash src="img/Default.png" platform="ios" width="768" height="1004"/>
		<splash src="img/Default@2x~iphone_640x960.png" platform="ios" width="640" height="960"/>
		<splash src="img/Default~ipad.png" platform="ios" width="1536" height="2008"/>
		<splash src="img/Default~iphone.png" platform="ios" width="320" height="480"/>

        <!-- iPad Appstore Icon -->
		<icon src="messaging-appstore-icon-1024.png" platform="ios" width="1024" height="1024" />
		<preference name="phonegap-version" value="cli-7.1.0" /> <!-- Note: this is for the 1024 appstore icon. We need to keep this up-to-date if the phonegap version updates -->
        
    </platform>
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <engine name="ios" spec="~4.1.1" />
</widget>
